@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --first-colour: #e4f1ff; /* setting root colours */
  --second-colour: #aed2ff;
  --third-colour: #800dd3;
  --fourth-colour: #27005d;
}

.outer-rec {
  width: 1000px;
  height: 350px;
  border-radius: 60px;
  padding: 20px;
  background-color: var(--third-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-rec {
  width: 800px;
  height: 300px;
  border-radius: 25px;
  padding: 20px;
  background-color: var(--second-colour);

}

h1{
  text-align: center;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: var(--fourth-colour);
}
.game-item {
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-item:hover {
  background-color: #f0f0f0;
}

.game-image {
  display: none; 
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px; 
  height: auto; 
}

.game-item:hover .game-image {
  display: block;
}

.game-selection {
  max-height: 300px; 
  overflow: hidden;
}

.game-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}